<head>
    <meta charset="utf-8">
    <title>Mert & Emine -En Mutlu Günümüz</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta name="keywords" content="Mert Emine düğün, düğün etkinliği, düğün fotoğrafları, mutlu çift">
    <meta name="description" content="Mert ve Emine'nin unutulmaz düğün etkinliği için hazırlanan resimler, videolar ve daha fazlası.">

    <!-- Favicon -->
    <link href="~/Wedding/img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&family=Montserrat:wght@400;600&display=swap" rel="stylesheet">

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="~/Wedding/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="~/Wedding/lib/lightbox/css/lightbox.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="~/Wedding/css/style.css" rel="stylesheet">
</head>
