<nav class="navbar fixed-top shadow-sm navbar-expand-lg bg-dark navbar-dark py-3 py-lg-0 px-lg-5">
    <div class="container">
        <!-- Ekstra bir container ekleniyor -->
        <a href="/anasayfa/" class="navbar-brand d-block d-lg-none">
            <h1 class="font-secondary text-white mb-n2">Emine <span class="text-primary">&</span> Mert</h1>
        </a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
            <div class="navbar-nav ml-auto py-0">
                <a href="#home" class="nav-item nav-link active">Ana Sayfa</a>
                <a href="#about" class="nav-item nav-link">Hakkımızda</a>
                <a href="#gallery" class="nav-item nav-link">Galeri</a>
            </div>
            <a href="/Anasayfa" class="navbar-brand mx-5 d-none d-lg-block">
                <h1 class="font-secondary text-white mb-n2">Emine <span class="text-primary">&</span> Mert</h1>
            </a>
            <div class="navbar-nav mr-auto">
                <a href="#event" class="nav-item nav-link">Etkinlik</a>
                <a href="#rsvp" class="nav-item nav-link">Mesaj</a>
                <a href="#contact" class="nav-item nav-link">İletişim</a>
            </div>
        </div>
    </div>
</nav>